<div class="all-container">
	
	
	
	<details open>
		
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="/professionaldev">Apps I've worked on →</a></div>
		</summary>
		{{ partial "home-sections/professional" }}
		
	</details>
	
	<details open>
		
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="/dev">Personal projects →</a></div>
		</summary>
		{{ partial "home-sections/personaldev"}}
		
	</details>
	
	<details open>
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="/iospens">iOS Pens →</a></div>
		</summary>
		{{ partial "home-sections/iospens"}}
	</details>
	
	
	<details open>
		
		<!-- <summary>
			<div class="summary-heading">Web Pens <a class="sans-serif" href="/swiftpens">→</a></div>
		</summary> -->
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="/webpens">Web Pens →</a></div>
		</summary>
		{{ partial "home-sections/webpens"}}
		
	</details>
	
	
	<details open>
		
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="/illustrations">Illustrations →</a></div>
		</summary>
		{{ partial "home-sections/illustrations"}}
		
	</details>
	
	
	<details open>
		
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="https://www.youtube.com/watch?v=DA16TvNNXX4&list=PL4PnN7zokfBmVXLrMEqBpvdyBmMe64NZs">Music →</a></div>
		</summary>
		{{ partial "home-sections/music"}}
	</details>
	
	<details open>
		
		<summary>
			<div class="summary-heading"><span style="opacity: 0">work</span><a class="sans-serif" href="/escritura">Writing →</a></div>
		</summary>
		
			{{ partial "home-sections/writing"}}
	</details>
	
	

</div>