	<section id="music">
{{ if .showButton }}
		<a class="button" href="https://www.youtube.com/watch?v=DA16TvNNXX4&list=PL4PnN7zokfBmVXLrMEqBpvdyBmMe64NZs">See all <span>→</span></a>
		
		{{ end }}
<article><iframe src="https://www.youtube.com/embed/oVEBa91DoeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</article>

<article>
	
	<iframe src="https://www.youtube.com/embed/DA16TvNNXX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</article>

<article>
	
	<iframe src="https://www.youtube.com/embed/CwjxuE1MZsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</article>

	</section>