	
<section id="devprojects">
	
	<!-- {{ if .showButton }}
	<a class="button" href="#">Coming soon <span>→</span></a>
	{{ end }} -->
	
	<p style="font-weight: bold; margin-bottom: 12px">Bearkit</p>
	<p>Read-only  web-frontend for the <a href="//bear.app">Bear app</a></p>
	<ul>
		<li>SvelteKit + some Vanilla JS</li>
		<li>Bear database + BetterSQLite</li>
		<li>Vanilla CSS + some PylonCSS</li>
	</ul>
	<iframe width="100%" style="aspect-ratio: 375 / 667" src="https://notas.cristian.lat"></iframe>
	
	
</section>