{{ define "main" }}

{{ partial "back.html" }}
<h3>Entradas</h3>

{{ .Content | safeHTML }}

{{ range where .Site.RegularPages "Section" .Section }}
	
	<article>
		<time  dateTime={{ .Date }} class="article-date">{{ dateFormat "Jan 2, 2006" .Date }}</time> 
		<h3 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	</article>
{{ end }}

<style>
	
body {
	max-width: 44ch;
	margin: auto;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	color: #44474b;
	padding-top: 48px;
	padding-bottom: 96px;
	line-height: 22px;
}

	time { 
	color: rgb(130, 130, 130);
	font-size: 14px;
	} 

a { color: #2c3138 ; text-decoration: none }
h3 { font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; }
h3 { font-size: 16px }
time + h3 { margin: 0px }
time + h3 { margin-bottom:  2px }
article { margin-top: 32px; }

</style>

{{ end }}