{{ define "main" }}

{{ partial "back.html" }}
<h3>Entradas</h3>

{{ .Content | safeHTML }}

{{ range where .Site.RegularPages "Section" .Section }}
<p class="article-title"><a href="{{ .Permalink }}"><span class="article-date">{{ dateFormat "Jan 2, 2006" .Date }}</span> {{ .Title }}</a></p>

{{ end }}

<style>
.article-title {
	font-size: 18px;
	font-weight: bold;
}
.article-title > a {
	text-decoration: none;
	font-family: sans-serif
}
.article-date {
	font-size: 10px;
	background: rgba(233, 225, 211, 1);
	border-radius: 6px;
	padding: 4px;
	font-family: sans-serif;
	font-weight: normal;
	margin-right: 4px;
}
.article-title + .article-date {
	margin: 0px;
}
</style>

{{ end }}