<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ .Content | truncate 300 }}" />
  {{ with .OutputFormats.Get "rss" -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{-
  template "_internal/opengraph.html" . -}} {{- template
  "_internal/twitter_cards.html" . -}} {{- $title := ( .Title ) -}} {{-
  $siteTitle := ( .Site.Title ) -}}
  <base href="{{ .Site.BaseURL }}" />
  <title>{{ $title }} | {{ $siteTitle }}</title>
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link href="{{ $css.Permalink }}" rel="stylesheet"/>
</head>
