
{{ define "main" }}
<h1>{{ .Title }} 🔫</h1>


{{ $files := readDir "/content/webpens" }}

{{ range ($files) }}
  {{ $shouldRender := strings.Contains .Name "html" }}
  {{ if $shouldRender }}
  {{ $name := strings.TrimSuffix (path.Ext .Name) .Name }}
  <article class="post child">
	  <a class="link heading" href="/webpens/{{ .Name }}">{{ $name }}</a>
		<iframe src=/webpens/{{ .Name }}></iframe>
  </article>
  
  {{ end }}

{{ end }}
<style>
	.heading { margin-bottom: var(--spacing) ; display: block; text-align: center}
	h1 { text-align: center; font-weight: bolder; padding-bottom: var(--spacing-xl); font-family: var(--font-sans)}
	
	.child {
	  width: 100vw;
	  position: relative;
	  left: calc(-50vw + 50%);
	  padding: 0 4px;
	}
	
	@media(min-width: 600px) {
		.child {
			width: 590px;
			left: calc(-295px + 50%)
		}
	}
	
	@media(min-width: 800px) {
		.child {
			width: 790px;
			left: calc(-395px + 50%);
		}
	}
</style>
{{ end }}