{{ define "main" }}

	<header style="margin-top: var(--spacing-l)">
		<a href="/" class="sans-serif black weight500" style="font-size: 14px; margin-bottom: 6px; display: block">Cristian F. Patiño Rojas</a>
		<p class="sans-serif antialiased gray weight500" style="font-size: 14px; margin-bottom: 4px">iOS dev, Son, Brother, Nephew, Oncle & Catholic</p>
		<p class="sans-serif antialiased gray" style="font-size: 12px">(also friend)</p>
		
	</header>
	
	
	
	<article class="header" style="line-height: 1.5">
	
	<p>iOS dev with a crush on web frontend, UI, and creating things.</p>
	<p>Btw, here's an emoji of a water pistol because no reason 🔫, piu piu.</p>
	

		
	
	<details style="margin-top: 24px">
		<summary class="button">More about me (short, I promise)</summary>
		<ul>
			<li>I wear glasses</li>
			<li>I <del>hate</del> strongly dislike 99% of linkedin posts</li>
			<li>I like crafting useful, beautiful UI that others can fall in love with</li>
		</ul>
		
		<div class="work-banner" >
			<p><span class="small-circle"></span>Available for work on remote or at Joué-Lès-Tours (pronnounced  \ʒwɛ lɛ tuʁ\)</p>
			
		</div>
		
		{{ partial "social" }}
		
	</details>
	<!-- <mark><a href="">hi@cristian.lat</a></mark> -->
	</article>
	<hr>
	


	<section class="sections">
		<input type="radio" name="tabs" id="tab1" checked />
		<label class="filter" for="tab1">All</label>
		
		<input type="radio" name="tabs" id="tab8" />
		<label class="filter" for="tab8">Professional work</label>
		
		<input type="radio" name="tabs" id="tab2" />
		<label class="filter" for="tab2">Personal projects</label>
			
		<input type="radio" name="tabs" id="tab4" />
		<label class="filter" for="tab4">iOS Pens</label>
		
		<input type="radio" name="tabs" id="tab5" />
		<label class="filter" for="tab5">Web Pens</label>
		
		
		
		<input type="radio" name="tabs" id="tab3" />
		<label class="filter" for="tab3">Illustration</label>
	
		
		<input type="radio" name="tabs" id="tab6" />
		<label class="filter" for="tab6">Writing</label>
		
		<input type="radio" name="tabs" id="tab7" />
		<label class="filter" for="tab7">Music</label>
		
		
		<div class="tab content1">
			
			{{ partial "home-sections/all" }}
		</div>
		<div class="tab content2">
			{{ partial "home-sections/personaldev" (dict "context" .  "showButton" true) }}
		</div>
		<div class="tab content3">{{ partial "home-sections/illustrations" (dict "context" .  "showButton" true) }} </div>
		<div class="tab content4">{{ partial "home-sections/iospens" (dict "context" .  "showButton" true) }}</div>
		<div class="tab content5">{{ partial "home-sections/webpens" (dict "context" .  "showButton" true) }}</div>
		<div class="tab content6">
			<div class="featured">
				{{ partial "home-sections/writing" (dict "context" .  "showButton" true) }}
			</div>
		</div>
		<div class="tab content7">{{ partial "home-sections/music" (dict "context" .  "showButton" true) }}</div>
		<div class="tab content8">{{ partial "home-sections/professional" (dict "context" .  "showButton" true) }}</div>
	</section>

{{ end }}
