{{ define "main" }}
<h1>iOS Pens 🔫</h1>
<p>Concept taken from <a class="link" href="https://samvlu.com">100 days of Swift</a></p>

	{{ $pages := where site.RegularPages "Section" .Section }}
	{{ range ($pages.ByParam "ContentBaseName").Reverse }}
	<article class="post" id="{{ .File.ContentBaseName }}">
		
		{{ $date := substr .File.ContentBaseName 0 10 }}
		{{ $title := substr .File.ContentBaseName 11 }}
		{{ $title := replace $title "-" " " }}
	<!-- <time datetime="{{ $date }}">{{ $date }}</time>  -->
	<h3>{{ $title }}</h3>
	<video controls muted loop playsinline>
		<source src="/iospens/media/{{ .File.ContentBaseName }}.mov" type="video/mp4">
	</video>

		{{ .Content }}
		
	</article>
	{{ end }}


<style>
	h1 { font-weight: bolder; font-family: var(--font-sans) ; margin-bottom: 12px }
	code { 
		display: inline-block;
		padding: .3em .4em;
		margin: 0 .05em;
		min-width: 1em;
		font-family: ui-sans-serif,-apple-system,BlinkMacSystemFont,"Apple Symbols",Roboto,sans-serif;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		line-height: 1;
		text-align: center;
		vertical-align: 1px;
		color: rgba(0,1,2,.85);
		background: #fcfcfd;
		border-radius: .4em;
		box-shadow: 0 0 0 1px rgba(0,20,49,.18) inset;
	 }
	 
	 video {background: var(--h); margin-bottom: 16px}
	 ol li, ul li { margin-top: 0 !important }
	 ol li, ul li { margin-bottom: 4px; line-height: 1.5 }
	
</style>
{{ end }}
